<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <br>
  <div style=" text-align: center;"> 
    <h2>{{"LISTA DE CARTERAS" }}</h2> 
  </div>
  <div class="container" style="overflow-x: auto;">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="min-width: 1200px;">

        <ng-container matColumnDef="id" > 
            <th mat-header-cell *matHeaderCellDef > ID </th> 
            <td mat-cell *matCellDef="let element" > {{element.id}} </td> 
          </ng-container>
          
          <ng-container matColumnDef="fechaDescuento"> 
            <th mat-header-cell *matHeaderCellDef> Fecha Descuento </th> 
            <td mat-cell *matCellDef="let element"> {{element.fechaDescuento | date: 'dd/MM/yyyy'}} </td> 
          </ng-container>
          
          <ng-container matColumnDef="diasXAnio"> 
            <th mat-header-cell *matHeaderCellDef> Días por Año </th> 
            <td mat-cell *matCellDef="let element"> {{element.diasXAnio}} </td> 
          </ng-container>

          <ng-container matColumnDef="comisionActivacion"> 
            <th mat-header-cell *matHeaderCellDef> Comisión Activación</th> 
            <td mat-cell *matCellDef="let element"> {{ element.tipoMoneda === 1 ? 'S/.' : element.tipoMoneda === 2 ? '$' : '(?)' }} {{element.comisionActivacion}} </td> 
          </ng-container>
          
          <ng-container matColumnDef="comisionActivacionTipo"> 
            <th mat-header-cell *matHeaderCellDef> Comisión Activación Tipo </th> 
            <td mat-cell *matCellDef="let element"> {{getTiposTexto(element.comisionActivacionTipo)}} </td> 
          </ng-container>
          
          <ng-container matColumnDef="fotocopias"> 
            <th mat-header-cell *matHeaderCellDef> Fotocopias </th> 
            <td mat-cell *matCellDef="let element"> {{ element.tipoMoneda === 1 ? 'S/.' : element.tipoMoneda === 2 ? '$' : '(?)' }} {{element.fotocopias}} </td> 
          </ng-container>
          
          <ng-container matColumnDef="fotocopiasTipo"> 
            <th mat-header-cell *matHeaderCellDef> Fotocopias Tipo </th> 
            <td mat-cell *matCellDef="let element"> {{getTiposTexto(element.fotocopiasTipo)}} </td> 
          </ng-container>
          
          <ng-container matColumnDef="estudioDeTitulos"> 
            <th mat-header-cell *matHeaderCellDef> Estudio de Títulos </th> 
            <td mat-cell *matCellDef="let element"> {{ element.tipoMoneda === 1 ? 'S/.' : element.tipoMoneda === 2 ? '$' : '(?)' }} {{element.estudioDeTitulos}} </td> 
          </ng-container>
          
          <ng-container matColumnDef="estudioDeTitulosTipo"> 
            <th mat-header-cell *matHeaderCellDef> Estudio de Títulos Tipo </th> 
            <td mat-cell *matCellDef="let element"> {{getTiposTexto(element.estudioDeTitulosTipo)}} </td> 
          </ng-container>
          
          <ng-container matColumnDef="gastosAdministrativos"> 
            <th mat-header-cell *matHeaderCellDef> Gastos Administrativos </th> 
            <td mat-cell *matCellDef="let element"> {{ element.tipoMoneda === 1 ? 'S/.' : element.tipoMoneda === 2 ? '$' : '(?)' }} {{element.gastosAdministrativos}} </td> 
          </ng-container>
          
          <ng-container matColumnDef="gastosAdministrativosTipo"> 
            <th mat-header-cell *matHeaderCellDef> Gastos Administrativos Tipo </th> 
            <td mat-cell *matCellDef="let element"> {{getTiposTexto(element.gastosAdministrativosTipo)}} </td> 
          </ng-container>
          
          <ng-container matColumnDef="portes"> 
            <th mat-header-cell *matHeaderCellDef> Portes </th> 
            <td mat-cell *matCellDef="let element"> {{ element.tipoMoneda === 1 ? 'S/.' : element.tipoMoneda === 2 ? '$' : '(?)' }} {{element.portes}} </td> 
          </ng-container>
          
          <ng-container matColumnDef="portesTipo"> 
            <th mat-header-cell *matHeaderCellDef> Portes Tipo </th> 
            <td mat-cell *matCellDef="let element"> {{getTiposTexto(element.portesTipo)}} </td> 
          </ng-container>
          
          <ng-container matColumnDef="seguro"> 
            <th mat-header-cell *matHeaderCellDef> Seguro (%) </th> 
            <td mat-cell *matCellDef="let element"> {{element.seguro}}% </td> 
          </ng-container>
          
          <ng-container matColumnDef="seguroTipo"> 
            <th mat-header-cell *matHeaderCellDef hidden> Seguro Tipo </th> 
            <td mat-cell *matCellDef="let element" hidden> {{getTiposTexto(element.seguroTipo)}} </td> 
          </ng-container>
          
          <ng-container matColumnDef="retencion"> 
            <th mat-header-cell *matHeaderCellDef> Retención </th> 
            <td mat-cell *matCellDef="let element"> {{element.retencion}}% </td> 
          </ng-container>
          
          <ng-container matColumnDef="retencionTipo"> 
            <th mat-header-cell *matHeaderCellDef hidden> Retención Tipo </th> 
            <td mat-cell *matCellDef="let element" hidden> {{getTiposTexto(element.retencionTipo)}} </td> 
          </ng-container>
          
          <ng-container matColumnDef="teaCompensatoria"> 
            <th mat-header-cell *matHeaderCellDef> TEA Compensatoria </th> 
            <td mat-cell *matCellDef="let element"> {{element.teaCompensatoria}}% </td> 
          </ng-container>
          
          <ng-container matColumnDef="nDeInstr"> 
            <th mat-header-cell *matHeaderCellDef> Num. Letras desc. </th> 
            <td mat-cell *matCellDef="let element"> {{element.nDeInstr}} </td> 
          </ng-container>
          
          <ng-container matColumnDef="totalARecibir"> 
            <th mat-header-cell *matHeaderCellDef> Total a Recibir </th> 
            <td mat-cell *matCellDef="let element"> {{element.totalARecibir.toFixed(2)}} </td> 
          </ng-container>
          
          <ng-container matColumnDef="tceaCartera"> 
            <th mat-header-cell *matHeaderCellDef> TCEA Cartera (%)</th> 
            <td mat-cell *matCellDef="let element"> {{(element.tceaCartera * 100).toFixed(3)}}% </td> 
          </ng-container>
          
          <ng-container matColumnDef="tipoMoneda"> 
            <th mat-header-cell *matHeaderCellDef> Tipo de Moneda </th> 
            <td mat-cell *matCellDef="let element"> {{getMonedasTipoTexto(element.tipoMoneda)}} </td> 
          </ng-container>

          <ng-container matColumnDef="cambio"> 
            <th mat-header-cell *matHeaderCellDef> Cambio (S/. - $)</th> 
            <td mat-cell *matCellDef="let element"> {{element.cambio}} </td> 
          </ng-container>

      <!-- ACCIONES -->
      <ng-container matColumnDef="actualizar">
        <th mat-header-cell *matHeaderCellDef>Actualizar</th>
        <td mat-cell *matCellDef="let element" >
          <button class="boton-actualizar"
            mat-raised-button
            (click)="iralink('edicion', element.id)" 
            ><mat-icon>create</mat-icon>
          </button>
      </td></ng-container>

      <ng-container matColumnDef="eliminar">
        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
        <td mat-cell *matCellDef="let element">
          <button class="boton-eliminar"
            mat-raised-button
            (click)="eliminar(element.id)"
            ><mat-icon>delete</mat-icon>
          </button>
      </td></ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


  
</div>
<br>
<mat-paginator 
[pageSizeOptions]="[10, 30, 50]" 
showFirstLastButtons aria-label="Select page">
</mat-paginator>
</body>
</html>