<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <h2></h2>
    <div class="container" style="text-align: center">
      <h2>{{titulo}}</h2>
      <br />
      <form [formGroup]="form" (submit)="registrar()" class="example-form">
        <div class ="center">
        </div>

        <div class="contenedor-principal">

          <div class="columna">
              
        
          <mat-label class="label">Selecione la Cartera:</mat-label>
          <mat-form-field>
            <mat-label>Cartera</mat-label>
            <mat-select formControlName="idCartera">
              <mat-option *ngFor="let c of listaCarteras" [value]="c .id">
                Cart. {{ c .id }} ({{ c.tipoMoneda === 1 ? 'Soles' : c.tipoMoneda === 2 ? 'Dólares' : '(?)' }}) / Cambio {{c.cambio}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="obtenerControlCampo('idCartera')?.errors?.['required']">
              El campo es obligatorio.
            </mat-error>
          </mat-form-field>

          <mat-label class="label" hidden>Seleccione el Usuario:</mat-label>
          <mat-form-field hidden>
            <mat-label>Usuario</mat-label>
            <mat-select formControlName="idUsuario" >
              <mat-option *ngFor="let u of listaUsuarios" [value]="u.id">
                {{ u.username }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="obtenerControlCampo('idUsuario')?.errors?.['required']">
              El campo Usuario es obligatorio.
            </mat-error>
          </mat-form-field>

          <mat-label class="label">Seleccione la fecha de Giro</mat-label>
          <mat-form-field appearance="fill" class="example-full-width">
          <input
              matInput
              placeholder="Ingrese la fecha"
              [matDatepicker]="picker"
              formControlName="fechaDeGiro"
          />
          <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
              <mat-error
              *ngIf="obtenerControlCampo('fechaDeGiro')?.errors?.['required']"
                  >Obligatorio*
              </mat-error>
              <mat-hint>mm/dd/yyyy</mat-hint>
          </mat-form-field>

            <br />
            <mat-label class="label">Seleccione la fecha de Dscto/Vcto</mat-label>
            <mat-form-field appearance="fill" class="example-full-width">
            <input
                matInput
                placeholder="Ingrese la fecha"
                [matDatepicker]="picker2"
                formControlName="fechaDeDscto"
            />
            <mat-datepicker-toggle
                matIconSuffix
                [for]="picker2"
                
            ></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
                <mat-error
                *ngIf="obtenerControlCampo('fechaDeDscto')?.errors?.['required']"
                    >Obligatorio*
                </mat-error>
                <mat-hint>mm/dd/yyyy</mat-hint>
            </mat-form-field>

            <mat-label class="label">Valor nominal</mat-label>
            <mat-form-field class="example-full-width">
              <mat-label>Valor nominal</mat-label>
              <input matInput placeholder="valorNominal" formControlName="valorNominal" type="number"/>
              <mat-error
                *ngIf="obtenerControlCampo('valorNominal')?.errors?.['required']"
              >
                Complete el campo
              </mat-error>
            </mat-form-field>

            <mat-label class="label" hidden>Número de días</mat-label>
            <mat-form-field class="example-full-width" hidden>
                <mat-label>Número de días</mat-label>
                <input matInput placeholder="nDias" formControlName="nDias" type="number" />
                <mat-error *ngIf="obtenerControlCampo('nDias')?.errors?.['required']">
                  Complete el campo
                </mat-error>
              </mat-form-field>
              
              <mat-label class="label" hidden>Tasa Efectiva Periódica (TEP) (%)</mat-label>
              <mat-form-field class="example-full-width" hidden>
                <mat-label>Tasa Efectiva Periódica (TEP) (%)</mat-label>
                <input matInput placeholder="TEP" formControlName="tep" type="number" />
                <mat-error *ngIf="obtenerControlCampo('tep')?.errors?.['required']">
                  Complete el campo
                </mat-error>
              </mat-form-field>
              
              <mat-label class="label" hidden>d(%)</mat-label>
              <mat-form-field class="example-full-width" hidden>
                <mat-label>D (%)</mat-label>
                <input matInput placeholder="D" formControlName="d" type="number" />
                <mat-error *ngIf="obtenerControlCampo('d')?.errors?.['required']">
                  Complete el campo
                </mat-error>
              </mat-form-field>
              
              <mat-label class="label" hidden>Descuento</mat-label>
              <mat-form-field class="example-full-width" hidden>
                <mat-label>Descuento</mat-label>
                <input matInput placeholder="Descuento" formControlName="descuento" type="number" />
                <mat-error *ngIf="obtenerControlCampo('descuento')?.errors?.['required']">
                  Complete el campo
                </mat-error>
              </mat-form-field>
              
              <mat-label class="label" hidden>Costes Iniciales</mat-label>
              <mat-form-field class="example-full-width" hidden>
                <mat-label>Costes Iniciales</mat-label>
                <input matInput placeholder="Costes Iniciales" formControlName="costesIniciales" type="number" />
                <mat-error *ngIf="obtenerControlCampo('costesIniciales')?.errors?.['required']">
                  Complete el campo
                </mat-error>
              </mat-form-field>
              
              <mat-label class="label" hidden>Costes Finales</mat-label>
              <mat-form-field class="example-full-width" hidden>
                <mat-label>Costes Finales</mat-label>
                <input matInput placeholder="Costes Finales" formControlName="costesFinales" type="number" />
                <mat-error *ngIf="obtenerControlCampo('costesFinales')?.errors?.['required']">
                  Complete el campo
                </mat-error>
              </mat-form-field>
              
          </div>

          <div class="columna">
            <mat-label class="label" hidden>Seguro</mat-label>
            <mat-form-field class="example-full-width" hidden>
                <mat-label>Seguro</mat-label>
                <input matInput placeholder="Seguro" formControlName="seguro" type="number" />
                <mat-error *ngIf="obtenerControlCampo('seguro')?.errors?.['required']">
                  Complete el campo
                </mat-error>
              </mat-form-field>
              
              <mat-label class="label" hidden>Retención</mat-label>
              <mat-form-field class="example-full-width" hidden>
                <mat-label>Retención</mat-label>
                <input matInput placeholder="Retención" formControlName="retencion" type="number" />
                <mat-error *ngIf="obtenerControlCampo('retencion')?.errors?.['required']">
                  Complete el campo
                </mat-error>
              </mat-form-field>
              
              <mat-label class="label" hidden>Valor Neto</mat-label>
              <mat-form-field class="example-full-width" hidden>
                <mat-label>Valor Neto</mat-label>
                <input matInput placeholder="Valor Neto" formControlName="valorNeto" type="number" />
                <mat-error *ngIf="obtenerControlCampo('valorNeto')?.errors?.['required']">
                  Complete el campo
                </mat-error>
              </mat-form-field>
              
              <mat-label class="label" hidden>Valor a Recibir</mat-label>
              <mat-form-field class="example-full-width" hidden>
                <mat-label>Valor a Recibir</mat-label>
                <input matInput placeholder="Valor a Recibir" formControlName="valorARecibir" type="number" />
                <mat-error *ngIf="obtenerControlCampo('valorARecibir')?.errors?.['required']">
                  Complete el campo
                </mat-error>
              </mat-form-field>
              
              <mat-label class="label" hidden>Flujo</mat-label>
              <mat-form-field class="example-full-width" hidden>
                <mat-label>Flujo</mat-label>
                <input matInput placeholder="Flujo" formControlName="flujo" type="number" />
                <mat-error *ngIf="obtenerControlCampo('flujo')?.errors?.['required']">
                  Complete el campo
                </mat-error>
              </mat-form-field>
              
              <mat-label class="label" hidden>TCEA (%)</mat-label>
              <mat-form-field class="example-full-width" hidden>
                <mat-label>TCEA</mat-label>
                <input matInput placeholder="TCEA" formControlName="tcea" type="number" />
                <mat-error *ngIf="obtenerControlCampo('tcea')?.errors?.['required']">
                  Complete el campo
                </mat-error>
              </mat-form-field>
              
              <mat-label class="label">Tipo de Moneda</mat-label>
              <mat-form-field class="example-full-width">
                  <mat-label>Tipo de moneda</mat-label>
                  <mat-select formControlName="tipoMoneda">
                    <mat-option *ngFor="let t of tiposdemoneda" [value]="t.value">
                      {{ t.viewValue }}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="obtenerControlCampo('tipoMoneda')?.errors?.['required']"
                    >Complete el campo
                  </mat-error>
              </mat-form-field>

          </div><!--Columna end-->
        
        </div> <!--Columna Principal end-->
        <br>
        <div class="button-container">
          <button mat-button class="boton-agregar"><mat-icon>person_pin</mat-icon> Registrar </button>
          <button mat-button class="boton-cancelar" routerLink="/components/letras/listar"> <mat-icon>close</mat-icon>Cancelar</button>
        </div>
        <br>
        <p>{{ mensaje }}</p>
        <p>{{ mensaje2 }}</p>
      </form>
    </div>
  </body>
</html>