body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    min-height: 100vh; /*Para que tenga color en toda la página*/
  }
  
  .container {
    width: 60%; /* Ajusta este porcentaje según tus necesidades */
    background-color: #fff; /*COLOR DE LA TABLA*/
    border: 30px solid #0056b3; /*Color del borde de la TABLA*/
    padding: 5px;
    margin: 20px auto; /*Espacio entre el menu y el contenedor*/
  }
  
  mat-form-field {
    width: 70%;
  }
  .contenedor-principal {
    display: flex;
    justify-content: space-around;
  }
   
  .columna {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
  }
  .center img {
    width: 200px;
    height: 200px;
  }
  
  .caracterminimo{
    font-size: 15px; /* Ajusta el tamaño del texto */ 
  }
  
  
  /* Estilos para los botones */
  .button-container {
    display: block; /* Cambiado de flex a block */
    justify-content: center;
    gap: 20px; /* Agrega un espacio entre los botones */
  }
  
  .boton-agregar{
    background-color: #6eb8db;
    color: white; /* Color del texto */
    width: 20%; /* Cambiado de 80% a auto */
    margin-bottom: 20px; /* Agregado */
    margin-right: 20px;
  }
  .boton-cancelar{
    background-color: #b8cd51;
    color: white; /* Color del texto */
    width: 20%; /* Cambiado de 80% a auto */
    margin-bottom: 20px; /* Agregado */
    margin-left: 20px;
  }
  .boton-regresar{
    background-color: #ceab24;
    color: white; /* Color del texto */
    width: 20%; /* Cambiado de 80% a auto */
    margin-bottom: 20px; /* Agregado */
    margin-left: 20px;
  }
  
  /* Cambios en el tamaño y color del texto de los errores */
  mat-error {
    font-size: 14px;
    color: #ff6b6b;
   }
   .mat-form-field {
    margin-bottom: 20px;
  }
  
   
  